body {
  font-family: 'Nunito', sans-serif;
}

.hero {
  h1 {
    text-align: center;
    font-size: 200%;
  }
  h2 {
    text-align: center;
    font-weight: 100;
    font-size: 110%;
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
}

h3 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  li {
    display: inline-block;
    margin-top: 0;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 0;
    text-decoration: underline;
    .blue-button {
      background-color: blue;
      text-decoration: none;
      color: white;
      padding: 0.5em;
      border-radius: 6px;
      width: 8em;
      text-align: center;
      display: inline-block;
    }
  }
}



p {
  margin: 0 auto;
  width: 300px;
}

form {
  margin: 0 auto;
  max-width: 350px;
  .name {
    input {
      border-radius: 5px;
      padding: 15px;
      margin: 5px;
    }
  }
  .contact {
    input {
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
      border-radius: 5px;
      padding: 10px;
      width: 300px;
      }
    } 
}

.signup-form form input[type=submit] {
  border-width: 2px;
  border-color: blue;
  background-color:white;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: block;
  margin: 0 auto;
}
