/* Base Styles */

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
body > * {
  box-sizing: border-box;
}
h1 {
  font-size: 1.75rem;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
p {
  margin: 0 auto;
  max-width: 40em;
}
ul {
  padding-left: 0;
}
.container {
  max-width: 40em;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-bottom {
  margin-bottom: 120px;
}

/* Layout Styles */
.kenzie-press {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.kenzie-press__quote {
  margin: 0;
  padding: 10px;
}
.kenzie-courses {
  display: flex;
  flex-direction: column;
}
.kenzie-teams {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  list-style: none;
  text-align: center;
}
.student-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.meet-kenzie__cta {
  text-align: center;
  display: block;
  padding-top: 10px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
}
.kenzie-team {
  margin: 0 auto;
  padding: 10px;
}

/* Block Styles */

.hero-section iframe {
  display: block;
  margin: 0 auto;
}
.kenzie-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.kenzie-navbar__items {
  display: inline-block;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 0;
  text-decoration: underline;
}
.kenzie-navbar__blue-button:hover {
    transition: padding .4s ease-in-out;
    padding: 15px;
    width: 100px;
}
.kenzie-navbar__blue-button {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
}
.student-info__image {
  margin: 0 auto;
  max-width: 200px;
}
.student-info__image:hover {
  position: relative;
  top: 0;
  left: 0;
  animation-name: imgspin;
  animation-duration: 1s;
}
@keyframes imgspin {
  100% {
    top: 15px;
    left: 15px;
  }
}
 .student-info__content {
  padding-left: 30px;
}
.student-info__content p {
  width: 25em;
}
.kenzie-course__month, .kenzie-course__day {
  text-align: center;
}
.kenzie-course__btn {
  border-width: 2px;
  border-color: blue;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 6px;
  width: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.compare-programs__btn {
  display: block; 
  margin: 0 auto;
  padding: 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.compare-programs__btn:hover{
  transition: padding .4s ease-in-out;
  padding: 30px;
  width: 100px;
}
.signup-form__input {
  padding-top: 15px;
  display: flex;
}
.signup-form__input--long {
  flex-direction: column;
}
.signup-form__input input{
  border-radius: 5px;
  padding: 15px;
}
.signup-form__input--short input{
  width: 50%;
}
.signup-form__input--long input{
  display: block;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  max-width: 100%;
}
.signup-form__input--btn input:hover {
    transition: padding .4s ease-in-out;
    padding: 30px;
    width: 100px;
}
.signup-form__input--btn input {
  border-width: 2px;
  border-color: blue;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 6px;
  width: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

@media (min-width: 775px){
  .student-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .kenzie-press {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .kenzie-press__quote {
    justify-content: space-around;
  }
  .kenzie-teams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
  }
  .kenzie-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
} 